<a href="https://colab.research.google.com/github/seojeongmin123/NLP_2024/blob/main/2_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

👀 🐾 <font color = 'red'> **Data frame** </font>

|Index Name/label | column 0| column 1 | column 2 | ...| column n |
|:|-|-|-|-|-|
|index 0 | data 0 | data 0 | data 0 | ... | data 0 |
|index 1 | data 1 | data 1 | data 1 | ... | data 1 |
|index 2 | data 2 | data 2 | data 2 | ... | data 2 |
|index 3 | data 3 | data 3 | data 3 | ... | data 3 |
| . | . | . | . | . | . |
| . | . | . | . | . | . |
| . | . | . | . | . | . |
|index n | data n | data n | data n | ... | data n |
|| series 0 | series 1 | series 2 | ... | series n |

>

- series : column vector
- data frame: 2-plane vector or matrix

>

<font color = 'blue'>👀 🐾 **An example of data frame**

Table on p.12 of the textbook

|종목코드 | 회사이름| 액면가 | 총주식수 |
|:|-|-|-|
|005930 | 삼성전자 | 100원 | 5,970,000,000 |
|017670 | SK텔레콤 | 500원 | 81,000,000 |
|1005380 | 현대자동차 | 5000원 | 214,000,000 |

In [4]:
import pandas as pd
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

df= pd.DataFrame(dict_data)

print(type(df))
print('\n')
print(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [3]:
#@markdown <font color = 'red'> **🐹 Student Activity 1 ⤵️**

#@markdown <font color = 'blue'> **dictionary ➡️ data frame, shape (3,5) 3행 5열**

#-*- coding: urf-8 -*-

# dictionary data with column name as key & list as value

import pandas as pd
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

#함수로 dict_data 변수 내용을 데이터프레임으로 변환. 변수 df에 할당
df = pd.DataFrame(dict_data)

print(type(df))
print('\n')
print(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [ ]:
#@markdown <font color = 'red'> **🐹 Student Activity 1 ⤵️**

#@markdown <font color = 'blue'> **dictionary ➡️ data frame, shape (3,5) 3행 5열 with Index Names**

#-*- coding: urf-8 -*-

# dictionary data with column name as key & list as value

import pandas as pd
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

#함수로 dict_data 변수 내용을 데이터프레임으로 변환. 변수 df에 할당
df = pd.DataFrame(dict_data, index=['item1','item2','item3'])

print(type(df))
print('\n')
print(df)

<class 'pandas.core.frame.DataFrame'>


       c0  c1  c2  c3  c4
item1   1   4   7  10  13
item2   2   5   8  11  14
item3   3   6   9  12  15

👀 🐾 **Give names of row index & coumn name**

In [ ]:
#@markdown <font color = 'red'> **🐹 Student Activity 2 ⤵️**

#@markdown <font color = 'blue'> **행 인덱스/ 열 이름 지정하여 데이터 프레임으로 만들기**

#-*- coding: urf-8 -*-

import pandas as pd

tuple_data = ([15, 'Male', 'Public'], [17, 'Female', 'Priviate'])

df = pd.DataFrame(tuple_data, index = ['Simon', 'Emma'],
              columns = ['Age', 'Gender', 'School'])

print(type(df))
print('\n')
print(df)
print('\n')
print(df.index)
print('\n')
print(df.columns)

<class 'pandas.core.frame.DataFrame'>


       Age  Gender    School
Simon   15    Male    Public
Emma    17  Female  Priviate


Index(['Simon', 'Emma'], dtype='object')


Index(['Age', 'Gender', 'School'], dtype='object')

In [ ]:
#@markdown <font color = 'red'> **🐹 Student Activity 3 ⤵️**

#@markdown <font color = 'blue'>위 코드셀 행 인덱스 (row index)를 ['Student 1', 'Student 2']로 변경하고, 열 이름 (column name)을 ['Number of Years', 'M/F', 'Affiliation'] 으로 변경

#@markdown Purpose: 🌼 Add some variaions!

#@markdown - new index names 는 새로 지정


import pandas as pd

tuple_data = ([15, 'Male', 'Public'], [17, 'Female', 'Priviate'])

df = pd.DataFrame(tuple_data, index = ['Simon', 'Emma'],
              columns = ['Age', 'Gender', 'School'])

df.index = ['Student 1', 'Student 2']

df.columns = ['Number of Years', 'M/F', 'Affiliation']

#UserWarning: Pandas doesn't allow columns to be created via a new attribute name. If you miss 'inplace=True argument, you will end up with old column names.
#df.rename(columns={'Age':'Number of Years', 'Gender':'M/F', 'School':'Affiliation'}, inplace = True)

print(type(df))
print('\n')
print(df)

<class 'pandas.core.frame.DataFrame'>


           Number of Years     M/F Affiliation
Student 1               15    Male      Public
Student 2               17  Female    Priviate

In [ ]:
#@markdown <font color = 'red'> **🐹 Student Activity 3_1 ⤵️**

#@markdown <font color = 'blue'> **Instead of giving new names for the rows and columns directly, try to use 'rename()' function!**

#@markdown - When new names are given to index names and column names, rename() function can be used.

import pandas as pd

tuple_data = ([15, 'Male', 'Public'], [17, 'Female', 'Priviate'])

df = pd.DataFrame(tuple_data, index = ['Simon', 'Emma'],
              columns = ['Age', 'Gender', 'School'])

df.rename(index = {'Simon':'Student1', 'Emma':'Student 2'}, inplace = True)

df.rename(columns = {'Age':'Number of Years', 'Gender':'M/F', 'School':'Affiliation'}, inplace = True)

#UserWarning1: The textbook says Pandas doesn't allow columns to be created via a new attribute name, but it wasn't true.

#UserWarning2: If you miss 'inplace=True argument, you will end up with old column names.

print(type(df))
print('\n')
print(df)

<class 'pandas.core.frame.DataFrame'>


           Number of Years     M/F Affiliation
Student1                15    Male      Public
Student 2               17  Female    Priviate

In [ ]:
#@markdown <font color = 'red'> **🐹 Student Activity 3_2 ⤵️**

#@markdown <font color = 'blue'> **💊 If you miss 'inplace=True argument of pd.rename() function for the immediate application of the operation, you will end up with old row/column names.**

import pandas as pd

tuple_data = ([15, 'Male', 'Public'], [17, 'Female', 'Priviate'])

df = pd.DataFrame(tuple_data, index = ['Simon', 'Emma'],
              columns = ['Age', 'Gender', 'School'])

df.rename(index = {'Simon':'Student1', 'Emma':'Student 2'})

df.rename(columns = {'Age':'Number of Years', 'Gender':'M/F', 'School':'Affiliation'})


print(type(df))
print('\n')
print(df)

<class 'pandas.core.frame.DataFrame'>


       Age  Gender    School
Simon   15    Male    Public
Emma    17  Female  Priviate

<font color = 'blue'>👀 🐾 **Dropping rows & colums**

In [ ]:
#@markdown <font color = 'red'> **🐹 Student Activity 4 ⤵️**

#@markdown <font color = 'blue'> **Dropping rows 행 삭제**

import pandas as pd

exam_data = {'Math':[90, 80, 70], 'English':[98, 89, 95],
             'Music':[85, 95, 100], 'Gym':[100,90,90]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary'])

print(df)
print('\n')

df2 = df[:]

# axis=0 for dropping "rows" (cf., axis=1 for dopping columns)
df2.drop('Emma', axis=0, inplace = True)

print(df2)
print('\n')

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90


       Math  English  Music  Gym
Simon    90       98     85  100
Mary     70       95    100   90

<ipython-input-16-4721aa9579e3>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('Emma', axis=0, inplace = True) # axis=0 for dropping "rows" (cf., axis=1 for dopping columns)

In [ ]:
#@markdown <font color = 'red'> **🐹 Student Activity 4 ⤵️**

#@markdown <font color = 'blue'> **Dropping columns 열 삭제**
import pandas as pd

exam_data = {'Math':[90, 80, 70], 'English':[98, 89, 95],
             'Music':[85, 95, 100], 'Gym':[100,90,90]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary'])

print(df)
print('\n')

df2 = df[:]

# axis=1 for dropping columns
df2.drop('Gym', axis=1, inplace=True)

print(df2)

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90


       Math  English  Music
Simon    90       98     85
Emma     80       89     95
Mary     70       95    100

<ipython-input-17-227bb8f723a7>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('Gym', axis=1, inplace=True) # axis=1 for dropping columns

#<font color = 'red'> **loc[ ], iloc[ ]**
>
* 인덱스 이름(index name) 기준으로 선택할 때는 loc[] 사용
* 정수형 위치(integer position) 인덱스를 사용할 때는 iloc[] 사용

>

| 구분 | loc[ ] | iloc[ ] |
|:|-|-|
|탐색대상|인덱스 이름 index label/name| 정수형 위치 인덱스 (integer position)|
|범위지정 예시|loc['a':'c'] ➡️ 'a', 'b', 'c'|iloc[3:7] ➡️  3,4,5,6|

In [ ]:
#@markdown <font color = 'red'> **🐹 Student Activity 5 ⤵️**

#@markdown <font color = 'blue'> **Choose a row 행 선택**

#@markdown <font color = 'blue'> **loc[] & iloc[]**

import pandas as pd

exam_data = {'Math':[90, 80, 70], 'English':[98, 89, 95],
             'Music':[85, 95, 100], 'Gym':[100,90,90]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary'])

print(df)
print('\n')


#Data display is trasversed when one element is in loc[].
label1 = df.loc['Simon']
print(label1)
print('\n')

#Data display is trasversed when one element is in loc[].
position1 = df.iloc[0]
print(position1)

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90


Math        90
English     98
Music       85
Gym        100
Name: Simon, dtype: int64


Math        90
English     98
Music       85
Gym        100
Name: Simon, dtype: int64

In [ ]:
#@markdown <font color = 'red'> **🐹 Student Activity 6 ⤵️**

#@markdown <font color = 'blue'> **Choose rows 복수행 선택**

#@markdown <font color = 'blue'> **loc[[]] & iloc[[]]**

import pandas as pd

exam_data = {'Math':[90, 80, 70, 85], 'English':[98, 89, 95, 79],
             'Music':[85, 95, 100, 100], 'Gym':[100,90,90, 88]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary', 'Louis'])

print(df)
print('\n')

#Choose rows 복수행 선택
label2 = df.loc[['Simon', 'Mary']]
print(label2)
print('\n')

#Choose a row, resulting in its corresponding columns trasversed.
position1 = df.iloc[0]
print(position1)
print('\n')

#Choose rows 복수행 선택 (index number 0 & index number 2)
position2 = df.iloc[[0,2]]
print(position2)
print('\n')

#Choose rows 복수행 선택 (index number 0, index number 2, & index number 2)
position3 = df.iloc[[0,1,2]]
print(position3)
print('\n')

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90
Louis    85       79    100   88


       Math  English  Music  Gym
Simon    90       98     85  100
Mary     70       95    100   90


Math        90
English     98
Music       85
Gym        100
Name: Simon, dtype: int64


       Math  English  Music  Gym
Simon    90       98     85  100
Mary     70       95    100   90


       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90

In [ ]:
#@markdown <font color = 'red'> **🐹 Student Activity 7 ⤵️**

#@markdown <font color = 'blue'> **Select rows using the colon symbol 콜른 사용하여 복수행 선택**

#@markdown <font color = 'blue'> **loc[[]] & iloc[[]]**

import pandas as pd

exam_data = {'Math':[90, 80, 70, 85], 'English':[98, 89, 95, 79],
             'Music':[85, 95, 100, 100], 'Gym':[100,90,90, 88]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary', 'Louis'])

print(df)
print('\n')

label3 = df.loc['Simon':'Emma']
print(label3)
print('\n')

#The last index number is excluded.
location4 = df.iloc[0:2]
print(location4)

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90
Louis    85       79    100   88


       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90


       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90

In [ ]:
#@markdown <font color = 'red'> **🐹 Student Activity 8 ⤵️**

#@markdown <font color = 'blue'> **Select a column 열 선택**

#@markdown <font color = 'blue'> **column name[ ]**

import pandas as pd

exam_data = {'Math':[90, 80, 70, 85], 'English':[98, 89, 95, 79],
             'Music':[85, 95, 100, 100], 'Gym':[100,90,90, 88]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary', 'Louis'])

print(df)
print('\n')

math1 = df['Math']
print(math1)
print('\n')
print(type(math1))

english1 = df['English']
print(english1)
print('\n')
print(type(english1))

gym1 = df['Gym']
print(gym1)
print('\n')
print(type(gym1))

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90
Louis    85       79    100   88


Simon    90
Emma     80
Mary     70
Louis    85
Name: Math, dtype: int64


<class 'pandas.core.series.Series'>
Simon    98
Emma     89
Mary     95
Louis    79
Name: English, dtype: int64


<class 'pandas.core.series.Series'>
Simon    100
Emma      90
Mary      90
Louis     88
Name: Gym, dtype: int64


<class 'pandas.core.series.Series'>

In [ ]:
#@markdown <font color = 'red'> **🐹 Student Activity 8 ⤵️**

#@markdown <font color = 'blue'> **Select columns 복수열 선택**

#@markdown <font color = 'blue'> **column name[[]]**

import pandas as pd

exam_data = {'Math':[90, 80, 70, 85], 'English':[98, 89, 95, 79],
             'Music':[85, 95, 100, 100], 'Gym':[100,90,90, 88]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary', 'Louis'])

print(df)
print('\n')

#💣Remember to use two sets of squared brackets!
eng_gym = df[['English','Gym']]
print(eng_gym)
print('\n')
print(type(eng_gym))

#💣Remember to use two sets of squared brackets!
three_subj = df[['English','Music','Gym']]
print(three_subj)
print('\n')
print(type(three_subj))

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90
Louis    85       79    100   88


       English  Gym
Simon       98  100
Emma        89   90
Mary        95   90
Louis       79   88


<class 'pandas.core.frame.DataFrame'>
       English  Music  Gym
Simon       98     85  100
Emma        89     95   90
Mary        95    100   90
Louis       79    100   88


<class 'pandas.core.frame.DataFrame'>